/*
 * Copyright 2002-2017 the original author or authors.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.content {
  width: 100%;
  color: white;
}

.content h2 {
  padding-left: 20px;
  padding-top: 40px;
  font-size: 20px;
  height: 100%;
  overflow: visible;
}

.build {
  margin: 0 0 0.5em 0;
  width: 100%;
  font-size: 20px;
  padding: 5px 0px 0px 25px;
  width: 100%;
  border-radius: 5px;
  line-height: 0.9em;
  font-weight: bold;
}

.build a {
  color: white;
}

.build-unstable {
  background-color: #F39C12;
}

.build-aborted {
  background-color: #F39C12;
}

.build-failed {
  background-color: #B72F28;
}

.build-running {
  background-color: cornflowerblue;
}

.build-successful {
  background-color: forestgreen;
}

.secondline {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 8px 0px 3px 0px;
}

.build-time {
  font-weight: normal;
  /* float: left; */
}

.branch {
  float: right;
  /* font-size: 20px; */
}
